		.wrapper{
			width: 1000px;
			margin: 0 auto;

		}
		.wrapper .header{
			width: 100%;
			height: 40px;
			background: #eee;
		}
		.wrapper .body{
			width: 100%;
			min-height: 600px;
			background: #ccc;
		}
		.wrapper .body .left{
			width: 300px;
			min-height: 600px;
			background: yellow;
			display: inline-block;
			vertical-align: top;
			float: left;
		}
		.wrapper .body .main{
			width: 660px;
			margin-left: 40px;
			min-height: 600px;
			background: green;
			display: inline-block;
			vertical-align: top;
		}
		.wrapper .body .main .item{
			display: inline-block;
			vertical-align: top;
			margin: 10px;
			background: red;
			width: 80px;
			min-height: 100px;
			text-decoration: none; 
		}
		.wrapper .body .main .item img{
			display: block;
			width: 80px;
			height: auto;
			
		}
		.wrapper .body .main .item span{
			
			color: #fff;
		}
		.wrapper .body .main .item .title{
			font-size: 14px;
			display: block;
			margin-top: 5px;
		}
		.wrapper .body .main .item .price{
			font-size: 14px;
			display: block;
			margin-top: 5px;
		}

		
		.wrapper .body .item{
			width: 600px;
			min-height: 300px;
			margin: 0 auto;
			background: #eee;
		}
		.wrapper .body .item .price{
			margin-top: 5px;
			display: block;
			font-size: 14px;
			color: #000;
		}
		.wrapper .body .item .buy{
			display: block;
			font-size: 14px;
			color: #000;
		}
		.wrapper .body .item .full{
			max-width: 600px;
			height: auto;
		}

			
		.wrapper .body ul{
			font-size: 14px;
		}
		.cart{
			background: #e5e5e5;
			font-size: 14px;
			border: 1px solid #000;
			position: fixed;
			top: 50%;
			right: 0;
			width: 170px;
		}
		.cart .oformit, .cart .summa{
			display: block;
			margin: 0 auto;
		}
		.cart .oformit{
			width: 150px;
		}
		.cart .summa{
			width: 20px;
		}
		.cart .summa:after{
			content: 'грн';
			margin-left: 5px;
		}
		.korzina .row{
			display: block;
			width: 100%;
			margin-bottom: 10px;
		}
		.korzina .row img, .korzina .row .name, .korzina .row .price{
			display: inline-block;
			vertical-align: middle;
			width: 30%;
			font-size: 14px;
		}
		.korzina .row img{
			max-height: 100px;
			width: auto;
			margin-right: 30px;
		}