{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Catalog</title>
	<link rel="stylesheet" href="{% static "style.css" %}" type="text/css">
</head>
<body>
	<div class="wrapper">
		<div class="header"><h1>{{category.name}}</h1></div>
		<div class="body">
			<div class="left"></div>
			<div class="main">
			{% for tovar in tovars %}
				<a href="/item/{{tovar.alias}}/" class="item">
					<img src="{{tovar.image}}" alt="">
					<span class="title">{{tovar.name}}</span>
					<span class="price">{{tovar.price}}</span>
				</a>
			{% endfor %}
			</div>
		</div>
	</div>
</body>
</html>