{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Catalog</title>
	<link rel="stylesheet" href="{% static "style.css" %}" type="text/css">
</head>
<body>
	<div class="wrapper">
		<div class="header"><h1>{{tovar.name}}</h1></div>
		<div class="body">
			<div class="item">
				<img src="{{tovar.image}}" alt="" class="full" >
				<span class="price">{{tovar.price}} грн</span>
				<a href="#" class="buy">Купить</a>
			</div>
		</div>
	</div>
</body>
</html>